* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 100px;
  background-color: #212121;
  align-items: center;
  justify-items: center;
  color: #0d7377;
}

.navbar ul {
  display: flex;
}

.navbar li {
  display: flex;
  width: 100px;
  color: #14ffec;
}

.Banner {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: #323232;
}

.Banner-Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-size: 40px;
  color: #14ffec;
}

span {
  font-size: 100px;
  color: #0d7377;
}

.Programming-Language{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  background-color: #212121;
}

.Programming-Language img{
  width: 10%;
}

