* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 15px;
}

ul {
  display: flex;
}

li {
  display: flex;
  width: 100px;
}
