@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}

body{
  background-image: url("images/landscape.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 100px;
  background-color: #212121;
  align-items: center;
  justify-items: center;
  color: #0d7377;
  font-family: "Anton", sans-serif;
}

.navbar ul {
  display: flex;
}

.navbar li {
  display: flex;
  width: 200px;
  font-size: 30px;
  color: #14ffec;
}

.Banner {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 900px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Banner-Text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  color: #14ffec;
}

span {
  font-size: 100px;
  color: #0d7377;
}

.Programming-Language {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.Programming-Language img {
  padding: 15px;
  width: 150px;
}

.school {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #323232;
  font-family: "Anton", sans-serif;
}

.school-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #14ffec;
  width: 80%;
}

.school-text h2 {
  color: #0d7377;
  font-size: 80px;
}

.school-text p {
  display: flex;
  width: 60%;
  font-size: 40px;
}

.school-text ul {
  display: flex;
  flex-direction: column;
}

.school-text li {
  font-size: 30px;
}
